{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
    <h1>Listes des Etudiants</h1>
    <ul>
        {% for etudiant in etudiants %}
            <li> <a href="{{ path('app_etudiant_details',{"id_etudiant" : etudiant.id}) }}">{{ etudiant.prenom }} {{ etudiant.nom }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
